.environmental-issues {
    text-align: center;
    margin: 2rem;
  }
  .environmental-issues h1 {
    font-size: 2.5rem;
  }
  .environmental-issues section {
    margin-top: 1.5rem;
  }
  .environmental-issues h2 {
    font-size: 2rem;
  }

  .navbar-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 1rem;
    margin-top: 2rem;
  }