.environmental-issues {
  background-color: #1c1c1e;
  color: #f1f1f1;
  padding: 20px;
  text-align: center;
  padding-top: 14%;
}

.issues-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  margin-top: 12%;

}

.issue {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
}

.issue-description {
  margin-top: 10px;
}

.issue-description h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.issue-description p {
  font-size: 1em;
}

.environmental-issues h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.River {
  width: 100%;
  height: 400px; /* Ajusta la altura del modelo */
  margin-top: 20px; /* Espacio respecto a otros elementos */
}

.RiverNoWater {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}